*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: 0;
    outline: 0;
    text-transform: capitalize;
    font-family: 'Nunito', sans-serif;
}

.container{
    width: 100%;
	max-width: 1150px;
	margin: auto;
}
.section_btn_one{
    display: block;
    margin: auto;
    width: 143px;
    height: 30px;
    border-radius: 5px;
    opacity: 0px;
    background: #9DE7FF;
}
.section_btn_onclick{
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    color: #A0A0A0;
    width: 115px;
    height: 27px;
    border-radius: 5px;
    opacity: 0px;
    background: #F6F8FB;
    margin: 0px 5px;
}
.section_fl{
    display: flex;
    background-color: white;
    box-shadow: 0px 4px 15px 0px #00000026;
    margin: 3rem 5rem;
    border-radius: 10px 0px 0px 0px;
    justify-content: space-between;
    width: 1160px;
    height: 260px;
    padding: 0rem 2rem;
}
.block-1{
    display: flex;
    flex-direction: column;
}
.data_img_camera{
    width: 20px;
    transform: translate(1px, 4px);
}
.block-2{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-around;
}
.block-name-img{
    position: relative;
    top: 2rem;
}
.block-top{
    position: absolute;
    left: 54%;
    top: 26%;
}
.call {
    padding: 1rem 1rem;
    display: inline-block;
}

.section_data_mg{
    padding: 0rem 1rem;

}
.section_data_mg .call{

}
.section_btn_1{
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    background-color: orange;
    padding: 5px;
}
.section_btn_2{
    font-size: 14px;
    font-weight: 700;
    width: 225px;
    height: 40px;
    border-radius: 5px 0px 0px 0px;
    background-color: #56CCF2;
    text-align: center;
    padding: 12px 0px;
    color: white;
}
.section_btn_3{
    width: 225px;
    height: 40px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #A7A7A7;
}
.redius{
    display: inline-block;
    width: 123px;
    height: 123px;
    border-radius: 50%;
}